@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

body {
  padding-top: 80px;
}

$custom-colors: (
  "color1": #ffd8b8,
  "color2": #ffb375,
  "color3": #c68d2b,
  "color4": #bb5c0f,
  "color5": #60330a,
  "color6": #3b2103,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

.app {
  background-color: #ffd8b8;
  font-family: "Kanit", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap)
    format("truetype");
}

.img-wrappper {
  max-width: 100%;
  height: 17em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.min-heigh-view-port {
  min-height: 100vw;
}

@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
  }
}

.carousel-inner {
  padding: 1em;
}

.card {
  margin: 0 0.5em;
}

.logginButtons {
  display: flex;
  justify-content: space-between;
}

.myNavbar {
  background-image: var(--bs-gradient);
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
